@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');

@import 'tailwindcss';
@import './fonts.css';
@import './colors.css';
@import './animations.css';
@import './scrollbar.css';

@theme {
  /* Navigation & Layout */
  --z-index-header: 100;

  /* Floating UI */
  --z-index-dropdown: 500;

  /* Full-screen Overlays */
  --z-index-modal-backdrop: 900;
  --z-index-modal: 1000;
}
